*   Student Name: Trinh Nguyen
*   Class/Section: INF 528, Spring Semester 2025
*   Student ID: TN623245
*   Date of Submission: 02/23/2025

5.1. EXAMPLE FOR BUILT IN MATH FUNCTIONS

In [ ]:
import math
# Test algebraic functions
print("exp(1.0) =", math.exp(1))
print("log(3.78) =", math.log(math.e))
print("log10(10, 10) =", math.log(10, 10))
print("sqrt(4.0) =", math.sqrt(4.0))
# Test trigonometric functions
print("sin(PI / 2) =", math.sin(math.pi / 2))
print("cos(PI / 2) =", math.cos(math.pi / 2))
print("tan(PI / 2) =", math.tan(math.pi / 2))
print("degrees(1.57) =", math.degrees(1.57))
print("radians(90) =", math.radians(90))

exp(1.0) = 2.718281828459045
log(3.78) = 1.0
log10(10, 10) = 1.0
sqrt(4.0) = 2.0
sin(PI / 2) = 1.0
cos(PI / 2) = 6.123233995736766e-17
tan(PI / 2) = 1.633123935319537e+16
degrees(1.57) = 89.95437383553924
radians(90) = 1.5707963267948966

5.2. EXAMPLE GUESS BIRTHDAY

In [ ]:
"""Example Guess Birthday"""
day = 0 # birth day to be determined

# Prompt the user to answer the first question
question1 = "Is your birthday in Set1?\n" + \
    "1  3  5  7\n" + \
    "9 11 13 15\n" + \
    "17 19 21 23\n" + \
    "25 27 29 31\n" + \
    "\nEnter 0 for No and 1 for Yes: "
answer = eval(input(question1))

if answer == 1:
   day += 1

# Prompt the user to answer the second question
question2 = "Is your birthday in Set2?\n" + \
    " 2  3  6  7\n" + \
    "10 11 14 15\n" + \
    "18 19 22 23\n" + \
    "26 27 30 31" + \
    "\nEnter 0 for No and 1 for Yes: "
answer = eval(input(question2))

if answer == 1:
   day += 2

# Prompt the user to answer the third question
question3 = "Is your birthday in Set3?\n" + \
    " 4  5  6  7\n" + \
    "12 13 14 15\n" + \
    "20 21 22 23\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: "
answer = eval(input(question3))

if answer == 1:
   day += 4

# Prompt the user to answer the fourth question
question4 = "Is your birthday in Set4?\n" + \
    " 8  9 10 11\n" + \
    "12 13 14 15\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: "
answer = eval(input(question4))

if answer == 1:
    day += 8

# Prompt the user to answer the fifth question
question5 = "Is your birthday in Set5?\n" + \
    "16 17 18 19\n" + \
    "20 21 22 23\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\nEnter 0 for No and 1 for Yes: "
answer = eval(input(question5))

if answer == 1:
    day += 16

print("\nYour birthday is " + str(day) + "!")

Is your birthday in Set1?
1  3  5  7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 0 for No and 1 for Yes: 0
Is your birthday in Set2?
 2  3  6  7
10 11 14 15
18 19 22 23
26 27 30 31
Enter 0 for No and 1 for Yes: 0
Is your birthday in Set3?
 4  5  6  7
12 13 14 15
20 21 22 23
28 29 30 31
Enter 0 for No and 1 for Yes: 1
Is your birthday in Set4?
 8  9 10 11
12 13 14 15
24 25 26 27
28 29 30 31
Enter 0 for No and 1 for Yes: 0
Is your birthday in Set5?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31
Enter 0 for No and 1 for Yes: 1

Your birthday is 20!

5.3. EXAMPLE TO COMPUTE THE TAX

In [ ]:

import sys

# Prompt the user to enter filing status
status = eval(input(
    "(0-single filer, 1-married jointly,\n" +
    "2-married separately, 3-head of household)\n" +
    "Enter the filing status: "))

# Prompt the user to enter taxable income
income = eval(input("Enter the taxable income: "))

# Compute tax
tax = 0
if status == 0:  # Compute tax for single filers
    if income <= 8350:
        tax = income * 0.10
    elif income <= 33950:
        tax = 8350 * 0.10 + (income - 8350) * 0.15
    elif income <= 82250:
        tax = 8350 * 0.10 + (33950 - 8350) * 0.15 + \
           (income - 33950) * 0.25
    elif income <= 171550:
        tax = 8350 * 0.10 + (33950 - 8350) * 0.15 + \
            (82250 - 33950) * 0.25 + (income - 82250) * 0.28
    elif income <= 372950:
        tax = 8350 * 0.10 + (33950 - 8350) * 0.15 + \
            (82250 - 33950) * 0.25 + (171550 - 82250) * 0.28 + \
            (income - 171550) * 0.33
    else:
        tax = 8350 * 0.10 + (33950 - 8350) * 0.15 + \
              (82250 - 33950) * 0.25 + (171550 - 82250) * 0.28 + \
               (372950 - 171550) * 0.33 + (income - 372950) * 0.35;
elif status == 1: # Compute tax for married file jointly
      print("Left as exercise")
elif status == 2: # Compute tax for married separately
      print("Left as exercise")
elif status == 3: # Compute tax for head of household
      print("Left as exercise")
else:
      print("Error: invalid status")
      sys.exit()

# Display the result
print("Tax is", format(tax, ".2f"))

(0-single filer, 1-married jointly,
2-married separately, 3-head of household)
Enter the filing status: 0
Enter the taxable income: 140000
Tax is 32920.00

5.4. EXAMPLE FOR CALCULATING THE MEAN OF ENTERED NUMBERS

In [ ]:

print("Type integers, each followed by Enter; or ^D or ^Z to finish")
total = 0
count = 0
while True:
    try:
        line = input()
        if (line):
            number = int(line)
            total += number
            count += 1
    except ValueError:
        print("Invalid number entered:", line)
        continue
    except EOFError:
        break
if count:
    print("count =", count, "total =", total, "mean =", total / count)

Type integers, each followed by Enter; or ^D or ^Z to finish
1
2
3

count = 3 total = 6 mean = 2.0

5.5. EXAMPLE ON WHILE LOOP

In [ ]:
import random
import time

correctCount = 0 # Count the number of correct answers
count = 0 # Count the number of questions
NUMBER_OF_QUESTIONS = 5 # Constant

startTime = time.time() # Get start time

while count < NUMBER_OF_QUESTIONS:
    # 1. Generate two random single-digit integers
    number1 = random.randint(0, 9)
    number2 = random.randint(0, 9)

    # 2. If number1 < number2, swap number1 with number2
    if number1 < number2:
        number1, number2 = number2, number1

    # 3. Prompt the student to answer "what is number1 - number2?"
    answer = eval(input("What is " + str(number1) + " - " +
        str(number2) + "? "))

    # 5. Grade the answer and display the result
    if number1 - number2 == answer:
        print("You are correct!")
        correctCount += 1
    else:
        print("Your answer is wrong.\n", number1, "-",
            number2, "should be", (number1 - number2))

    # Increase the count
    count += 1

endTime = time.time() # Get end time
testTime = int(endTime - startTime) # Get test time
print("Correct count is", correctCount, "out of",
    NUMBER_OF_QUESTIONS, "\nTest time is", testTime, "seconds")

What is 3 - 0? 0
Your answer is wrong.
 3 - 0 should be 3
What is 9 - 5? 4
You are correct!
What is 9 - 6? 3
You are correct!
What is 3 - 2? 1
You are correct!
What is 9 - 8? 1
You are correct!
Correct count is 4 out of 5
Test time is 37 seconds

5.6. EXAMPLE CONVERT DECIMAL TO HEXADECIMAL

In [1]:
decimal = eval(input("Enter an integer: "))
hexString = ""
value = decimal
while value != 0:
    single = value % 16

    if single == 15:
        hexString = "F" + hexString
    elif single == 14:
        hexString = "E" + hexString
    elif single == 13:
        hexString = "D" + hexString
    elif single == 12:
        hexString = "C" + hexString
    elif single == 11:
        hexString = "B" + hexString
    elif single == 10:
        hexString = "A" + hexString
    else:
        hexString = str(single) + hexString

    value = value // 16

print(str(decimal) + "'s hex representation is " + hexString)

Enter an integer: 75
75's hex representation is 4B

5.7. EXAMPLE TO FIND GCD OF THE NUMBERS

In [ ]:
# Enter n1
n1 = eval(input("Enter the first number: "))

# Enter n2
n2 = eval(input("Enter the second number: "))

d = n1 if n1 < n2 else n2
while d >=1:
  if n1 % d == 0 and n2 % d == 0:
    break
  d -=1
print("GCD of", n1, "and", n2, "is", d)

Enter the first number: 48
Enter the second number: 18
GCD of 48 and 18 is 6

5.8. EXAMPLE TO FIND THE FACTOR OF A GIVEN NUMBER

In [ ]:
""" Finds the Factor of a Given Number"""
# Prompt the user to enter a positive integer
#1 is universal factors for all numbers
number = eval(input("Enter a positive integer: "))

# Find all the smallest factors of the integer
print("The factors for", number, "is", end = " ")
print(1, end=" ")
for factor in range (2, number+1):
    if number % factor == 0:
       print(factor, end =" ")

Enter a positive integer: 12
The factors for 12 is 1 2 3 4 6 12

5.9. EXAMPLE TO FIND THE PRIME NUMBERS

In [ ]:
NUMBER_OF_PRIMES = 50  # Number of primes to display
NUMBER_OF_PRIMES_PER_LINE = 10 # Display 10 per line
count = 0 # Count the number of prime numbers
number = 2 # A number to be tested for primeness

print("The first 50 prime numbers are")

# Repeatedly find prime numbers
while count < NUMBER_OF_PRIMES:
    # Assume the number is prime
    isPrime = True #Is the current number prime?

    # Test if number is prime
    divisor = 2
    while divisor <= number / 2:
      if number % divisor == 0:
                  # If true, the number is not prime
           isPrime = False  # Set isPrime to false
           break  # Exit the for loop
      divisor += 1

       # Display the prime number and increase the count
    if isPrime:
          count += 1 # Increase the count

          print(format(number, "4d"), end = "")
    if count % NUMBER_OF_PRIMES_PER_LINE == 0:
           # Display the number and advance to the new line
          print() # Jump to the new line

          # Check if the next number is prime
    number += 1

The first 50 prime numbers are
   2   3   5   7  11  13  17  19  23  29

  31  37  41  43  47  53  59  61  67  71

  73  79  83  89  97 101 103 107 109 113













 127 131 137 139 149 151 157 163 167 173





 179 181 191 193 197 199 211 223 227 229

5.10. EXAMPLE FOR SIMPLE FUNCTION CALL

In [3]:
def main():
    value = eval(input("Enter a number: "))
    print("The sum of digits for", value, "is", sumDigits(value))

def sumDigits(n):
    temp = abs(n)
    sum = 0

    while temp != 0:
        remainder = temp % 10
        sum += remainder
        temp = temp // 10

    return sum

main()

Enter a number: 123
The sum of digits for 123 is 6

5.11. EXAMPLE TO FIND PALINDROME

In [ ]:
"""Finds Palindrome"""
def main():
   number = eval(input("Enter a postive integer: "))

   if isPalindrome(number):
          print(number, "is palindrome")
   else:
          print(number, "is not palindrome")

# Return the reversal of an integer, i.e. reverse(456) returns 654
def isPalindrome(number):
    return number == reverse(number)

# Return the reversal of an integer, i.e. reverse(456) returns 654
def reverse(number):
    result = 0
    while number != 0:
        remainder = number % 10
        result = result * 10 + remainder
        number = number // 10

    return result

main()

Enter a postive integer: 2332
2332 is palindrome

5.12. EXAMPLE Convert Fahrenheit to Celsius and Celsius to Fahrenheit

In [ ]:
def main():
    print(format("Celsius", "<15s"), format("Fahrenheit",
"<15s"), "  |    ", format("Fahrenheit", "<15s"), format("Celsius",
"<15s"))
    print("---------------------------------------------------------------")

    celsius = 40
    farenheit = 120
    i = 1

    while i <= 10:
        print(format(celsius, "<15d"),
format(celsiusToFahrenheit(celsius), "<15.2f"), "  |    ",
              format(farenheit, "<15d"),
format(fahrenheitToCelsius(farenheit), "<15.2f"))
        celsius -= 1
        farenheit -= 10
        i += 1
def celsiusToFahrenheit(celsius):
    return (9.0 / 5.0) * celsius + 32

# Converts from Fahrenheit to Celsius
def fahrenheitToCelsius(fahrenheit):
    return (5.0 / 9) * (fahrenheit - 32)

main()

Celsius         Fahrenheit        |     Fahrenheit      Celsius
---------------------------------------------------------------
40              104.00            |     120             48.89
39              102.20            |     110             43.33
38              100.40            |     100             37.78
37              98.60             |     90              32.22
36              96.80             |     80              26.67
35              95.00             |     70              21.11
34              93.20             |     60              15.56
33              91.40             |     50              10.00
32              89.60             |     40              4.44
31              87.80             |     30              -1.11

5.13. NUMBER CONVERSION

In [ ]:
def main():
    s = input("Enter a binary number: ").strip()
    print("The hex value is", convertBinaryToHex(s))

def convertBinaryToHex(binaryValue):
    decimalValue = binaryToDecimal(binaryValue)
    return decimalToHex(decimalValue)

def binaryToDecimal(binaryString):
    value = ord(binaryString[0]) - ord('0')
    for i in range(1, len(binaryString)):
        value = value * 2 + ord(binaryString[i]) - ord('0')

    return value

# Convert a decimal to a hex as a string
def decimalToHex(decimal):
    hex = ""

    while decimal != 0:
        hexValue = decimal % 16;
        hex = toHexChar(hexValue) + hex
        decimal = decimal // 16

    return hex

# Convert an integer to a single hex digit in a character
def toHexChar(hexValue):
    if hexValue <= 9 and hexValue >= 0:
        return chr(hexValue + ord('0'))
    else: # hexValue <= 15 && hexValue >= 10
        return chr(hexValue - 10 + ord('A'))

main()

Enter a binary number: 1000
The hex value is 8

5.14. OBJECT BASED SIMPLE INTEREST CALCULATOR

In [ ]:

"""Simple OOP Interest Calculater"""

class Account:
    # Construct an Account object
    def __init__(self, id, balance = 100, annualInterestRate = 0):
        self.__id = id
        self.__balance = balance
        self.__annualInterestRate = annualInterestRate

    def getId(self):
        return self.__id

    def getBalance(self):
        return self.__balance

    def getAnnualInterestRate(self):
        return self.__annualInterestRate

    def getMonthlyInterestRate(self):
        return self.__annualInterestRate / 12

    def setPreviousPrice(self, previousPrice):
        self.previousPrice = previousPrice

    def setCurrentPrice(self, currentPrice):
        self.currentPrice = currentPrice

    def withdraw(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def getMonthlyInterest(self):
        return self.__balance * self.getMonthlyInterestRate()

def main():
    # Create an account with width 4 and height 40
    account = Account(1122, 20000, 4.5)
    account.withdraw(2500)
    account.deposit(3000)
    print("ID is", account.getId())
    print("Balance is", account.getBalance())
    print("Monthly interest rate is", account.getMonthlyInterestRate())
    print("Monthly interest is", account.getMonthlyInterest())

main()

ID is 1122
Balance is 20500
Monthly interest rate is 0.375
Monthly interest is 7687.5

5.15. OOP FOR FINDING THE ROOTS OF QUADRATIC EQUATION

In [ ]:
import math
class QuadraticEquation:
    def __init__(self, a,b,c):
      self.__a =a
      self.__b =b
      self.__c=c
    def getA(self):
      return self.__a
    def getB(self):
      return self.__b
    def getC(self):
      return self.__c
    def getDiscriminant(self):
      return self.__b**2-4*self.__a*self.__c

    def getRoot1(self):
        if self.getDiscriminant() < 0:
            return 0
        else:
            return (-self.__b + self.getDiscriminant()) / (2 * self.__a)

    def getRoot2(self):
        if self.getDiscriminant() < 0:
            return 0
        else:
            return (-self.__b - self.getDiscriminant()) / (2 *
self.__a)


def main():
    a, b, c = eval(input("Enter a, b, c: "))
    equation = QuadraticEquation(a, b, c)
    discriminant = equation.getDiscriminant()

    if discriminant < 0:
        print("The equation has no roots")
    elif discriminant == 0:
        print("The root is", equation.getRoot1())
    else: # (discriminant >= 0)
        print("The roots are", equation.getRoot1(), "and",
equation.getRoot2())

main()

Enter a, b, c: 1,2,3
The equation has no roots

6 TASK
1. Sometimes it is convenient to have a table of sine, cosine, and tangent values instead of using a
calculator. Create a table of all three of these trigonometric functions for angles from 0 to 2p, with a
spacing of 0.1 radian. Your table should contain a column for the angle and then for the sine, cosine,
and tangent.

In [ ]:
import math

# Function to print the table
def create_trig_table():
    print("Angle (radians)    Sine       Cosine     Tangent")
    print("----------------------------------------------------")

    # Loop through angles from 0 to 2π with step size of 0.1 radians
    for angle in range(0, 63):  # 63 * 0.1 = 6.3 (close to 2π)
        radian = angle * 0.1  # Convert angle to radians

        sine_value = math.sin(radian)
        cosine_value = math.cos(radian)

        # Handle tangent undefined case when cosine is 0
        if cosine_value != 0:
            tangent_value = math.tan(radian)
        else:
            tangent_value = 'undefined'

        # Print the values in a tabular format
        print(f"{radian: <18.1f} {sine_value: <10.4f} {cosine_value: <10.4f} {tangent_value}")

# Call the function to display the table
create_trig_table()

Angle (radians)    Sine       Cosine     Tangent
----------------------------------------------------
0.0                0.0000     1.0000     0.0
0.1                0.0998     0.9950     0.10033467208545055
0.2                0.1987     0.9801     0.2027100355086725
0.3                0.2955     0.9553     0.3093362496096233
0.4                0.3894     0.9211     0.4227932187381618
0.5                0.4794     0.8776     0.5463024898437905
0.6                0.5646     0.8253     0.6841368083416924
0.7                0.6442     0.7648     0.8422883804630795
0.8                0.7174     0.6967     1.0296385570503641
0.9                0.7833     0.6216     1.2601582175503392
1.0                0.8415     0.5403     1.5574077246549023
1.1                0.8912     0.4536     1.9647596572486523
1.2                0.9320     0.3624     2.57215162212632
1.3                0.9636     0.2675     3.6021024479679786
1.4                0.9854     0.1700     5.797883715482894
1.5                0.9975     0.0707     14.101419947171719
1.6                0.9996     -0.0292    -34.232532735557314
1.7                0.9917     -0.1288    -7.696602139459148
1.8                0.9738     -0.2272    -4.286261674628062
1.9                0.9463     -0.3233    -2.9270975146777714
2.0                0.9093     -0.4161    -2.185039863261519
2.1                0.8632     -0.5048    -1.7098465429045073
2.2                0.8085     -0.5885    -1.3738230567687946
2.3                0.7457     -0.6663    -1.1192136417341316
2.4                0.6755     -0.7374    -0.9160142896734098
2.5                0.5985     -0.8011    -0.7470222972386603
2.6                0.5155     -0.8569    -0.6015966130897586
2.7                0.4274     -0.9041    -0.4727276291030373
2.8                0.3350     -0.9422    -0.3555298316511756
2.9                0.2392     -0.9710    -0.24640539397196587
3.0                0.1411     -0.9900    -0.1425465430742778
3.1                0.0416     -0.9991    -0.041616654585635904
3.2                -0.0584    -0.9983    0.058473854459578645
3.3                -0.1577    -0.9875    0.15974574766003266
3.4                -0.2555    -0.9668    0.26431690086742565
3.5                -0.3508    -0.9365    0.3745856401585947
3.6                -0.4425    -0.8968    0.4934667299849038
3.7                -0.5298    -0.8481    0.6247330752245639
3.8                -0.6119    -0.7910    0.7735560905031265
3.9                -0.6878    -0.7259    0.9474246499358935
4.0                -0.7568    -0.6536    1.1578212823495775
4.1                -0.8183    -0.5748    1.4235264831943675
4.2                -0.8716    -0.4903    1.7777797745088417
4.3                -0.9162    -0.4008    2.28584787736698
4.4                -0.9516    -0.3073    3.0963237806497457
4.5                -0.9775    -0.2108    4.637332054551185
4.6                -0.9937    -0.1122    8.860174895648116
4.7                -0.9999    -0.0124    80.71276296747477
4.8                -0.9962    0.0875     -11.384870654242807
4.9                -0.9825    0.1865     -5.267493065826737
5.0                -0.9589    0.2837     -3.380515006246586
5.1                -0.9258    0.3780     -2.4493894155845926
5.2                -0.8835    0.4685     -1.8856418775197639
5.3                -0.8323    0.5544     -1.501273395806927
5.4                -0.7728    0.6347     -1.2175408246205552
5.5                -0.7055    0.7087     -0.995584052213885
5.6                -0.6313    0.7756     -0.8139432836897013
5.7                -0.5507    0.8347     -0.6597305715207762
5.8                -0.4646    0.8855     -0.5246662219467991
5.9                -0.3739    0.9275     -0.40311089987322624
6.0                -0.2794    0.9602     -0.29100619138474915
6.1                -0.1822    0.9833     -0.18526223068913433
6.2                -0.0831    0.9965     -0.08337771486592863


2. The vector G=(68, 83, 61, 70, 75, 82, 57, 5, 76, 85, 62, 71, 96, 78, 76, 68, 72, 75, 83, 93)
represents the distribution of final grades in a dynamics course. Compute the mean, median, mode,
and standard deviation of G.

In [ ]:
import numpy as np
from scipy import stats

# Given vector G
G = [68, 83, 61, 70, 75, 82, 57, 5, 76, 85, 62, 71, 96, 78, 76, 68, 72, 75, 83, 93]

# Calculate mean, median, mode, and standard deviation
mean_G = np.mean(G)
median_G = np.median(G)
mode_G = stats.mode(G).mode  # Mode is returned as a scalar
std_dev_G = np.std(G)

# Print the results
print(f"Mean: {mean_G}")
print(f"Median: {median_G}")
print(f"Mode: {mode_G}")  # Directly print the mode without indexing
print(f"Standard Deviation: {std_dev_G}")

Mean: 71.8
Median: 75.0
Mode: 68
Standard Deviation: 18.14552286378103


3. Write a program to find the factorial of a given number  
a)using for loop

In [ ]:
def find_factorial():
  number =eval(input("Enter a number: "))
  result =1
  if number < 0:
    print("Factorial does not exist for negative numbers")
    return None
  result =1
  for i in range(1, number+1):
      result = result*i
  return result

  print(f"The factorial of {number} is {result}")

find_factorial()

Enter a number: 5

120

b) Using While loop

In [ ]:
def find_factorial():
  number =eval(input("Enter a number: "))
  result =1
  if number < 0:
    print("Factorial does not exist for negative numbers")
    return None
  i =1
  while i <= number:
    result = result*i
    i +=1
  print(f"The factorial of {number} is {result}")

find_factorial()

Enter a number: 5
The factorial of 5 is 120


4. Write a program to find the factorial of a given number by calling a factorial function in a recursive
manner.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:  # Base case
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

num = int(input("Enter a number: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number: 4
The factorial of 4 is 24